.about-company {
  background-color: $white;
  max-width: 92%;
  margin-top: -51px;
  padding: 12px 26px 27px 25px;
  position: relative;
  margin-bottom: 40px;

  h2 {
    margin-bottom: 10px;
  }

  @media (min-width: $md) {
    top: 51%;
    max-width: 60%;
  }

  @media (min-width: $lg) {
    top: 11%;
    max-width: 44%;
    left: 0;
    padding: 22px 30px 39px 59px;
  }
}
