.page {
  &__body {
  }
}

.container {
  min-width: 320px;
  min-height: 100%;
  margin: 0 auto;
  padding: 0 15px;

  @media (min-width: $sm) {
    max-width: 630px;
  }

  @media (min-width: $md) {
    max-width: 960px;
  }

  @media (min-width: $lg) {
    max-width: 1280px;
  }
}

.wrapper {
  padding: 0 10px;

  @media (min-width: $sm) {
    padding: 0 25px;
  }

  @media (min-width: $md) {
    padding: 0 35px;
  }

  @media (min-width: $lg) {
    padding: 0 45px;
  }
}

.main {
  background-color: $bg;
  min-height: 100%;
}
